:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

*:not(.background-parallax) {
  transition: ease-in-out 0.2s;
}

.bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  overflow-x: hidden;
}

.libras-container {
  position: fixed;
  max-width: 95vw;
  padding-right: var(--bs-gutter-x, 0.75rem);
  right: 0;
  top: 40%;
  z-index: 99999999;
}

.libras-img {
  width: 2.75em;
  height: 2.75em;
}

.btn-menu-superior {
  border-radius: 12px;
  border: solid 1px #eee;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  white-space: nowrap;
  margin: 0.2em;
  cursor: pointer;
}
.btn-menu-superior:hover {
  background-color: #0277bd;
  color: white;
}
.btn-menu-superior:hover span {
  color: white;
}
.btn-menu-superior:active {
  background-color: #01579b;
  color: white;
}

.first-logo {
  padding-right: 15em;
  padding-left: 12em;
}

.Aumentar-fonte {
  font-family: Inter;
  white-space: nowrap;
  font-size: 0.7em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  display: inline-flex;
}

.header-bg {
  height: 7em;
  flex-grow: 0;
  background-color: #01579b;
  display: flex;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.Ouvidoria-e-SIC {
  font-family: Inter;
  font-size: 0.75em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.links-rap-container {
  padding-right: 10em;
}

img.Ouvidoria {
  height: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 24px;
  background-color: var(--white);
}

.links-rap {
  cursor: pointer;
  background-color: #eceff1;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
.links-rap:hover {
  background-color: white;
}
.links-rap:hover > div {
  color: #01579b;
}

.Frame-38 {
  background-color: #0277bd;
}

.menu-container {
  width: 75%;
  height: 3em;
  align-items: center;
}

.menu-item {
  cursor: pointer;
  font-family: "Inter";
  font-size: 0.75em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
  display: flex;
  align-items: center;
}

.arrow {
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;
  margin-bottom: 0.1em;
  margin-left: 0.8em;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.vitrine-container {
  width: auto;
  display: flex;
}

img.Vitrine {
  width: 100%;
  flex-grow: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

img.Btn-Esq {
  width: 48px;
  height: 48px;
  flex-grow: 0;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

img.Btn-Dir {
  width: 48px;
  height: 48px;
  flex-grow: 0;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

img.Btn-Esq-Sv {
  width: 48px;
  height: 48px;
  flex-grow: 0;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

img.Btn-Dir-Sv {
  width: 48px;
  height: 48px;
  flex-grow: 0;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.sv-slider {
  z-index: 999;
}

img.Btn-Esq-Gal {
  width: 2em;
  height: 2em;
  flex-grow: 0;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

img.Btn-Dir-Gal {
  width: 2em;
  height: 2em;
  flex-grow: 0;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

img.libras-1 {
  width: 48px;
  height: 48px;
  margin: 0 0 123px 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.servicos-container {
  width: 100%;
  height: 120px;
  flex-grow: 0;
  background-color: #01579b;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: block;
}

.servicos {
  display: block;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sv-item {
  cursor: pointer;
  width: 5em;
  height: 4em;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: #eceff1;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 1em;
}
.sv-item:hover {
  background-color: white;
  color: #01579b;
}
.sv-item:hover > span {
  color: #01579b;
}

.Vector {
  width: 2em;
  height: 32px;
  flex-grow: 0;
  margin: 0 59px;
  border: 2px #001c33 solid;
  border-radius: 2px;
  background: linear-gradient(90deg, #001c33 50%, #eceff1 50%);
  margin-left: auto;
  margin-right: auto;
}

.Servio-txt {
  width: 5em;
  height: 4em;
  flex-grow: 0;
  opacity: 0.8;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #001c33;
}

.sv-btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.site-container {
  background-color: #fafafa;
}

.Layout---Processo-Seletivo-MPX-Brasil {
  margin: 0 auto;
  background-color: #fafafa;
}

.Notcias {
  font-family: Inter;
  font-size: 1.8em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #01579b;
  margin-left: 3em;
  padding-bottom: 1em;
}

@media screen and (max-width: 992px) {
  .Notcias-inside {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (min-width: 992px) {
  .Notcias-inside {
    padding-left: 8em;
    padding-right: 8em;
  }
}
.Notcias-center {
  border-radius: 24px;
  border: solid 1px #eee;
  background-color: var(--white);
  width: 50%;
  padding-left: 2px;
  margin-right: 2em;
  margin-left: 2em;
}
.Notcias-center:hover span {
  color: #01579b;
}
.Notcias-center:hover img {
  scale: 1.01;
}

img.foto-center {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.bg-upper {
  width: 558px;
  height: 410px;
  flex-grow: 0;
  margin: 29px 30px 32px 39px;
  padding: 0 0 30px;
  border-radius: 24px;
  border: solid 1px #eee;
  background-color: var(--white);
}

.slider-text {
  width: 90%;
  height: 2em;
  flex-grow: 0;
  padding-top: 1em;
  padding-bottom: 3.3em;
  font-family: Inter;
  font-size: 1em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #616161;
}

.O-aplicativo-de-meditao-Calm-est-tendo-seu-prp {
  width: 498px;
  height: 48px;
  flex-grow: 0;
  margin: 16px 30px 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #616161;
}

.slider-noticias {
  width: 75%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: white;
  border-radius: 12px;
}

.slider-noticias > div {
  margin-top: 1em;
  margin-bottom: 1em;
}

.Notcia {
  margin: 0 1em;
  z-index: 999 !important;
}
.Notcia:hover {
  background-color: #FFC107;
}

.Notcia * {
  z-index: 999 !important;
}

.menu-item-wrapper {
  cursor: pointer;
}
.menu-item-wrapper:hover {
  background-color: white;
}
.menu-item-wrapper:hover span {
  color: #01579b;
}
.menu-item-wrapper:active {
  background-color: white;
}
.menu-item-wrapper:active span {
  color: #01579b;
}
.menu-item-wrapper:hover .arrow {
  border: solid #01579b;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;
  margin-bottom: 0.1em;
  margin-left: 0.8em;
}
.menu-item-wrapper:active .arrow {
  border: solid #01579b;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;
  margin-bottom: 0.1em;
  margin-left: 0.8em;
}

.image-slider-noticias img {
  width: 100%;
  padding-bottom: 1em;
}

.tittle-bg {
  background-color: white;
}

.tittle-container {
  background-color: #fafafa;
  border-radius: 12px;
}

.Line-1 {
  width: 1px;
  flex-grow: 0;
  margin: 0 14px 0 0;
  transform: rotate(90deg);
  background-color: #eee;
}

.Line-2 {
  width: 1px;
  flex-grow: 0;
  transform: rotate(90deg);
  background-color: #eee;
}

.Btn-pg {
  width: 1224px;
  height: 48px;
  flex-grow: 0;
  margin: 91px 0 203px;
}

img.image {
  width: 264px;
  height: 134px;
  flex-grow: 0;
  margin: 0 0 20px;
  padding: 16px 120px 86px 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.arrow-noticias {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.arrow-galerias {
  position: absolute;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.Galeria-text {
  flex-grow: 0;
  font-family: Inter;
  padding-top: 1em;
  font-size: 2em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
  padding-left: 4em;
}

.galeria-slider .slick-current {
  transform: scale(1.4, 1.3);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.slider__item {
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 13em !important;
}

.slider__item > img {
  transform: scale(0.8, 0.8);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Veja-mais-notcias {
  font-size: 1em;
  border-radius: 16px;
  background-color: #ffb300;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #331600;
}

.btn-notcias {
  cursor: pointer;
  flex-grow: 0;
  border-radius: 16px;
  background-color: #ffb300;
}

.btn-galerias {
  cursor: pointer;
  flex-grow: 0;
  padding: 1em;
  border-radius: 16px;
  background-color: #ffd54f;
}

.Veja-mais-galerias {
  flex-grow: 0;
  font-family: Inter;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #331600;
}

a {
  text-decoration: none !important;
}

.Como-a-escrita-influencia-sua-marca-pessoal {
  font-family: Inter;
  font-size: 1.2em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

.Por-que-no-usaos-sites-prontos {
  font-family: Inter;
  font-size: 1.2em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  height: 5em;
}

img.banner-01 {
  -o-object-fit: contain;
     object-fit: contain;
}

img.banner-02 {
  -o-object-fit: contain;
     object-fit: contain;
}

.Rectangle-47 {
  width: 100%;
  margin: 32px 0;
  border-radius: 16px;
  background-color: #01579b;
}

.Calendrio-de-Eventos {
  flex-grow: 0;
  font-family: Inter;
  font-size: 2em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #01579b;
}

.bg-eventos-container {
  border-radius: 24px;
  border: solid 1px #eee;
  background-color: var(--white);
}

.bg-eventos-1-container {
  background-color: var(--white);
  padding: 2em;
}

.bg-eventos-1-container > div {
  cursor: pointer;
}
.bg-eventos-1-container > div:hover {
  background-color: #FFC107;
}
.bg-eventos-1-container > div:active span {
  color: black;
}
.bg-eventos-1-container > div:active {
  background-color: #FFC107;
}

.de-dezembro-2020 {
  flex-grow: 0;
  font-family: Inter;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #01579b;
}

span {
  flex-grow: 0;
  font-family: Inter;
  font-size: 1.5em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #01579b;
}

.A-partir-das-1630 {
  width: 332px;
  height: 24px;
  flex-grow: 0;
  margin: 4px 58px 12px 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #01579b;
}

img.agenda-1 {
  flex-grow: 0;
  border-radius: 24px;
}

.ttulo {
  padding-top: 1em;
  padding-bottom: 1em;
  flex-grow: 0;
  font-family: Inter;
  font-size: 0.9em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #616161;
}

.Rua-das-azaleias-257---Jardim-Botnico---SinopMT {
  flex-grow: 0;
  font-family: Inter;
  font-size: 0.8em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #616161;
}

.Agendas {
  width: 100%;
  flex-grow: 0;
}

.btn-eventos {
  padding: 1em;
  flex-grow: 0;
  border-radius: 16px;
  background-color: #ffd54f;
}

.Veja-mais-eventos {
  width: 142px;
  height: 20px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #331600;
}

.Galeria-de-Vdeos {
  font-family: Inter;
  font-size: 2em;
  padding-left: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #01579b;
}

.video-obra {
  border-radius: 24px;
  border: solid 1px #eee;
  background-color: var(--white);
}
.video-obra:hover span {
  color: #01579b;
}
.video-obra:hover img {
  scale: 1.01;
}

.Vector-video {
  width: 2em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.85);
  left: 50%;
  top: -200px;
  position: relative;
}

.background-parallax {
  background-image: url("img/image-9.jpg");
  width: 100%;
  height: 0;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  padding-top: 23.64%; /* (img-height / img-width * container-width) */
  /* (853 / 1280 * 100) */
}

.conheca-melhor {
  position: absolute;
  right: 10%;
  background-color: #fafafa;
  height: 35%;
  width: 51%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.-a-sua-cidade-Onde-tem-tudo-o-que-voc-precisa {
  font-family: Inter;
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #616161;
}

.conheca-economia-btn {
  font-family: Inter;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #001c33;
  font-size: 1em;
  opacity: 0.6;
  border-radius: 16px;
  background-color: #039be5;
  padding: 1em;
}

.conheca-cidade-btn {
  cursor: pointer;
  font-family: Inter;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #331600;
  border-radius: 16px;
  background-color: #ffd54f;
  padding: 1em;
}

.Conhea-a-Melhor-Cidade-do-Brasil {
  flex-grow: 0;
  font-family: Inter;
  font-size: 2.2em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Conhea-a-Melhor-Cidade-do-Brasil .Text-Style-4 {
  font-weight: 600;
}

.footer-container-1 {
  background-color: #0277bd;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.footer-container-2 {
  background-color: #01579b;
}

.footer-2 {
  background-color: #01579b;
}

.footer-3 {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.Horrio-de-Atendimento:hover, .Segunda-Sexta-07h-s-11h-e-das-13h-s-17h:hover {
  text-decoration: underline;
}

.sinop {
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.Ano---Nome-do-cliente---Todos-os-direitos-reserva {
  font-family: Inter;
  font-size: 0.8em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #212529;
  padding-right: 15em;
}

.logo-mpx {
  padding-left: 5em;
}

.Horrio-de-Atendimento {
  font-family: Inter;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.Segunda-Sexta-07h-s-11h-e-das-13h-s-17h {
  font-family: Inter;
  font-size: 0.7em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.Galeria-de-Obras {
  font-size: 2em;
  padding-left: 1em;
  font-family: Inter;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #01579b;
}

.obra-1 {
  width: 558px;
  height: 446px;
  flex-grow: 0;
  margin: 29px 0px 30px 0;
  padding: 360px 30px 30px;
  border-radius: 24px;
  border: solid 1px #eee;
  background-color: var(--white);
}

.btn-videos {
  cursor: pointer;
  padding: 1em;
  margin-top: 1em !important;
  flex-grow: 0;
  border-radius: 16px;
  background-color: #ffd54f;
  margin: 0 auto;
}

.Veja-mais-vdeos {
  font-family: Inter;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #331600;
}

.container-paralax {
  width: auto;
}

img.image-5 {
  width: 100%;
  height: 500px;
  flex-grow: 0;
  margin: 32px 1px 80px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 24px;
}

.Rectangle-8 {
  height: 386px;
  flex-grow: 0;
  background-color: #fafafa;
}

.slick-slider-btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.slick-slide {
  cursor: pointer;
  z-index: 999;
}

.slick-slider-dots {
  position: absolute;
  bottom: 9em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
}
.slick-slider-dots ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slick-slider-dots ul li {
  margin: 0 0.5em;
}
.slick-slider-dots ul li button {
  background: #b3e5fc;
  height: 0.5em;
  width: 3em;
  overflow: hidden;
  color: #b3e5fc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.slick-slider-dots ul li.slick-active button {
  background: #03a9f4;
  color: #03a9f4;
  border: 0.3em solid #03a9f4;
}/*# sourceMappingURL=mpx.css.map */